.blogPost {
  margin-top: 2rem;
}

.title {
  margin: 0;
  font-size: var(--font-xlarge);
}

.publishDate {
  margin-top: 0.5rem;
  font-size: var(--font-small);
  color: var(--color-sub-text);
  font-weight: 400;
}

.body {
  margin-top: 2rem;
}

.body p,
.body li {
  line-height: 1.5rem;
}
