.title {
  margin: 0;
}

.publishDate {
  margin-top: 0.25rem;
  font-size: var(--font-small);
  color: var(--color-sub-text);
}

.body {
  margin-top: 1rem;
  margin-bottom: 0;
}

.readMore {
  margin-top: 1.5rem;
}
