@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

@layer utilities {
  @variants responsive {
    .content-container {
      max-width: 1000px;

      @apply mx-auto px-8;
    }
  }
}

body {
  font-family: 'Dosis';
}

.page-container {
  @apply py-8;
}

.btn {
  @apply block px-5 py-2 rounded transition duration-200;
}

.btn:disabled {
  @apply opacity-60 shadow-none pointer-events-none;
}

.btn-primary {
  background-color: $color-primary;

  @apply text-white;
}

.btn-primary:hover {
  background-color: $color-primary-dark;
}

.btn-secondary {
  @apply bg-gray-100 text-gray-900 hover:bg-gray-300;
}
