---
import { Image } from '@astrojs/image/components';
import logo from '@/images/logo.png';
---

<header class="flex items-center justify-center p-4">
  <nav>
    <a href="/">
      <Image src={logo} alt="Sean Dodson" width={50} height={50} />
    </a>
  </nav>
</header>
