* {
  box-sizing: border-box;

  --color-primary: #475ba1;
  --color-sub-text: #4d4d4d;

  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #409dc2;
  text-decoration: none;
}

a:hover {
  color: #4072c2;
  text-decoration: underline;
}

.container {
  margin: auto;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1000px;
}

.container.container-sm {
  max-width: 600px;
}
