* {
  box-sizing: border-box;

  --color-primary: #475ba1;

  --color-text: rgb(47, 47, 47);
  --color-sub-text: #4d4d4d;

  --color-link: #409dc2;
  --color-link-hover: #4072c2;

  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--color-link);
  text-decoration: none;
}

.link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.container {
  margin: auto;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1000px;
}

.container.container-sm {
  max-width: 600px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 1rem;
}
