---
import { Layout } from '@/widgets/layout';
---

<Layout title="Oops!" description="This page does not exist.">
  <div class="container text-center">
    <h1 class="text-4xl mt-8 font-bold">Oops! This page does not exist.</h1>
    <div class="mt-4">
      <a class="link" href="/">Back to home page</a>
    </div>
  </div>
</Layout>
