.contact-card {
  border-radius: 5px;

  @apply p-8 border border-gray-200 text-center flex flex-col md:flex-row flex-1;
}

.contact-image {
  max-height: 100px;
}

@screen md {
  .contact-image {
    max-width: 100px;
  }
}
